@font-face {
	font-family: 'Beon Medium';
	src: url('./fonts/beon-webfont.eot');
	src: local('Beon Medium'), url('./fonts/beon-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/beon-webfont.woff') format('woff'),url('./fonts/beon-webfont.ttf') format('truetype'),url('./fonts/beon-webfont.svg#BeonMedium') format('svg');
	font-weight: normal;
	font-style: normal;}

#ball{
	width:50%;
	height:50%;
	stroke:#FFFFFF;
	stroke-width:0.2;
}

body{
	position:relative;
	background-color: black;
	}

.text-beon{
	font-size:20px;
	font-family: 'Beon Medium';
	color: #006DFF;
	display:block;
	text-align:center;
	}

input{
	/*送信ボタン標準デザインをリセット*/
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
	}

input#btn-primary{
	/*標準デザインを強制リセットしたため、!importamtで優先指定しています*/
	width:220px;
	height:30px;
	display:block;
	margin:10px auto 0;
	font-family: MotoyaLMaru W3 mono;
	color: #FF0074!important;
	background-color: blackimportant;
	border-radius: 2px !important;
	border:1px solid #FF0074!important;
	}

input#btn-primary:hover {
	/*標準デザインを強制リセットしたため、!importamtで優先指定しています*/
    background-color: #FF0074;
    border-color:FF0074important;
    color: #000000!important;
    cursor: pointer;
    transition: all 0.2s;
	}

a{
	color: inherit;
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
  }

h4#logo_space{
	margin:40px 36px 30px 34px;
}

img#logo{
	display:block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.textbox-align{
	 text-align : center ;
}

p#sign-up{
	display:block;
	margin:13px auto;
	width:130px;
	height:26px;
	font-family: MotoyaLMaru W3 mono;
	background-color: black;
	color: #FFD900;
	border: solid 1px #FFFFFF;
	border-radius:2px;
	}

p#sign-up:hover{
    background-color: #FFD900;
    color: black;
    cursor: pointer;
    transition: all 0.2s;
	}

input#name,input#inputID{
	width:220px;
	height:28px;
	padding-left:8px;
	margin-bottom:6px;
	background-color:#555555;
	font-family: MotoyaLMaru W3 mono;
	border-radius: 2px;
	}

h1#login_title{
	color:#006DFF;
	font-family: MotoyaLMaru W3 mono;
	font-size:26px;
	text-align:center;
	margin:0 10px 10px 10px;
	letter-spacing: 3px;
	border-bottom:1px solid #006DFF;

}

#login_system{
	margin:auto;
	max-width:316px;
	min-width:316px;
	height:500px;
	border:solid 1px #FFFFFF;
}


#login_system_inner	{
	margin: 0 auto;
	max-width:296px;
}


.container{
position: absolute; /* 絶対指定 */
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  margin: -250px 0 0 -175px;
}

p#cat-wrapper img#cat{
    margin: 17px auto 0;
    width: 32%;
    animation: neonBlur_FF4DA4_cat 16s infinite;
    animation: neonBlink_cat 5s infinite;
    fill:#FF4DA4;
}

@keyframes neonBlur_FF4DA4_cat {
  0% { drop-shadow: 0px 0px 5px #FF4DA4; }
  50% { drop-shadow: 0px 0px 75px #FF4DA4; filter: blur(0.5px) }
  100% { drop-shadow: 0px 0px 25px #FF4DA4; }
}

@keyframes neonBlink_cat {
  0% { opacity: 1; }
  10% { opacity: .6; }
  12% { opacity: 1; }
  15% { opacity: .4; }
  17% { opacity: 1; }
  18% { opacity: .3; }
  19% { opacity: 1; }
  89% { opacity: 1; }
  91% { opacity: .7; }
  94% { opacity: 1; }
  100% { opacity: 1; }
}
